
<div class="root">


  <div class="hidden-div">
  <!-- Add task and history goes here (maybe?) -->
  </div>

  <div class="navbar-fixed">
    <nav>
      <nav>
        <div class="nav-wrapper">

          <button id="new-task" class="btn waves-effect waves-light" type="submit" name="action">Task +
          </button>

          <ul class="right">

            <li>
              <i class="material-icons">search</i>
            </li>

            <li class="search">
              <input id="search-task">
            </li>

            <li></li>
            <li><a href="#">A Link</a></li>
            <%#<li> <!-- logout button -->%>
              <%#<form action="/logout" method="post">%>
            <li> <!-- logout -->
              <form id='logout' action="/logout" method="post">

                <input type="hidden" name="_method" value="delete">
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                <a id="logout-link">Log out</a>
              </form>
            </li> <!-- logout end -->

          </ul>
        </div>
      </nav>
    </nav>
  </div>

  <div id="tasks-container">
    <div class="task-list">

      <div class="">
        <ul class="tabs">
          <li class="tab"><a class="active">Task</a>
          </li>
          <li class="tab"><a>Job</a>
          </li>
          <li class="tab"><a>Company</a>
          </li>
        </ul>

        <div class="container">
        </div>



      </div>

    </div>
    <div class="task-detail"></div>
  </div>


</div>
