
<button id="new-task" class="btn waves-effect waves-light" type="submit" name="action">Add Task
</button>

<button id="new-job" class="btn waves-effect waves-light" type="submit" name="action">Add Job
</button>

<button id="new-company" class="btn waves-effect waves-light" type="submit" name="action">Add Company
</button>

<div class="root">

  <div class="hidden-div">
  <!-- Add task, add job, add company, and history search goes here -->
  </div>

  <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">

          <ul class="right">

            <li>
              <i class="material-icons">search</i>
            </li>

            <li class="search">
              <input id="search-task">
            </li>

            <li> <!-- logout button -->
              <form action="/logout" method="post" id="logout">
                <input type="hidden" name="_method" value="delete">
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                <a id="logout-link">Log out</a>
              </form>
            </li> <!-- logout end -->

          </ul>
        </div>
      </nav>
  </div>

  <div id="tasks-container">
    <div class="task-list">

      <div class="">
        <ul class="tabs">
          <li class="tab" id="tasks-tab"><a class="active">Task</a>
          </li>
          <li class="tab" id="jobs-tab"><a>Job</a>
          </li>
          <li class="tab" id="companies-tab"><a>Company</a>
          </li>
        </ul>

        <div class="task-list-container">
        </div>



      </div>

    </div>
    <div class="task-detail"></div>
  </div>


</div>
