
<div class="root">


  <!-- <div class="hidden-div"> -->
  <!-- Add task and history goes here (maybe?) -->
  <!-- </div> -->

  <div class="navbar-fixed">
    <nav>
      <nav>
        <input type="text" id="search-task" name="search" value="Search Task">
        <div class="nav-wrapper">
          <button id="new-task" class="btn waves-effect waves-light"
                  type="submit" name="action">Task +
          </button>
          <ul class="right hide-on-med-and-down">
            <li></li>
            <li><a href="#">A Link</a></li>
            <li> <!-- logout button -->
              <form action="/logout" method="post">
                <input type="hidden" name="_method" value="delete">
                <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                <button class="btn waves-effect waves-light" type="submit" name="action">logout
                </button>
              </form>
            </li> <!-- logout button end -->
          </ul>
        </div>
      </nav>
    </nav>
  </div>

  <div id="tasks-container">
    <div class="task-list"></div>
    <div class="task-detail"></div>
  </div>


</div>
