<div class="container">

    <h3 id="new-task-title">New Company</h3>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="name" value="" placeholder="Name">
      <label for="name">Enter Company Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" value="" placeholder="Website" name="website">
      <label for="website">Company website URL</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" value="" placeholder="Pros" name="pros">
      <label for="pros">Positive aspects of this company</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" value="" placeholder="Cons" name="cons">
      <label for="cons">Negative aspects of this company</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" value="" placeholder="Size" name="size">
      <label for="size">Company size</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" value="" placeholder="Focus" name="focus">
      <label for="focus">Company Focus</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="text" value="" placeholder="Industry" name="industry">
      <label for="industry">Company industry</label>
    </div>
  </div>

  <button id="submit-new-company" class="btn waves-effect waves-light" type="submit" name="action">Save
  </button>


</div>
